.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }

.ant-carousel .slick-slide .slide1 {
    background: 364d79;
}

.slide1 {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.slide2 {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #c703f8;
    overflow: hidden;
}

.slide3 {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #fa002a;
    overflow: hidden;
}

.slide1 h3{
    color: #fff;
}

.slide2 h3{
    color: #fff;
}

.slide3 h3{
    color: #fff;
}
  
.ant-carousel .slick-slide h3 {
    color: #fff;
}